.slideshow {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 100px;
}

.slide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
}